*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.info-text p{
width: 1280px;
height: 54px;
background: rgba(25, 103, 210, 1);
color: rgba(255, 255, 255, 1);
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
padding-top: 17px;
}