* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info-text p {
  width: 1280px;
  height: 54px;
  background: rgba(25, 103, 210, 1);
  color: rgba(255, 255, 255, 1);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 17px;
}
.second_section {
  background-image: url(../img/img-gadgets\(1\).png);
  padding-top: 163px;
  width: 1280px;
  height: 600px;
}
.main-div-sec_sec {
  width: 1280px;
  height: 600px;
}

.text_info h1 {
  width: 316px;
  height: 136px;
  color: rgba(60, 64, 67, 1);

  font-family: Roboto;
  font-size: 57px;
  font-weight: 400;
  line-height: 68px;
  letter-spacing: 2px;
  text-align: left;
  margin-top: px;
  margin-left: 130px;
}
.text_info p {
  color: rgba(60, 64, 67, 1);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.p-second {
  color: rgba(60, 64, 67, 1);

  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
.button-text {
  display: flex;
}
.button-text button {
  background-color: transparent;
  box-sizing: border-box;
  border: 2px solid rgba(60, 64, 67, 1);
  border-radius: 4px;
  width: 143px;
  height: 40px;
  color: rgba(60, 64, 67, 1);

  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-left: 130px;
  margin-top: 22px;
}
.button-text p {
  color: rgba(60, 64, 67, 1);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 30px;
  margin-left: 26px;
}

.big_text {
  color: rgba(60, 64, 67, 1);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 130px;
  margin-top: 22px;
}

.icon-google {
  width: 20.7px;
  height: 32.6px;
  transform: rotate(-0.53deg);
  margin-top: 7.53px;
}

header {
  display: flex;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.header-nav li {
  color: rgba(60, 64, 67, 1);
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  margin-left: 20px;
  margin-top: 21px;
}
.icon-nav {
  display: flex;
  margin-left: 26.87px;
}
.div-icons {
  margin-left: 384px;
}
.icons {
  margin-top: 16px;
  margin-right: 16px;
  width: 24px;
  height: 24px;
}

.card {
  width: 183px;
  height: 254px;
  border-radius: 20px;
  position: relative;
}
.img-gadgets {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  height: 566px;
  padding-left: 129px;
  padding-top: 128px;
}
.p-info {
  color: rgba(60, 64, 67, 1);

  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 79px;
}

.products {
  width: 1280px;
  height: 566px;
}
.text-new {
  color: rgba(25, 103, 210, 1);

  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  position: absolute;
  left: 29px;
  top: 23px;
}
.text-img {
  width: 183px;
  height: 254px;
  border-radius: 20px;
  background: rgba(248, 249, 250, 1);
  position: relative;
}
.name-gadget {
  color: rgba(60, 64, 67, 1);

  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 20px;
}
.img {
  position: absolute;
  top: 29px;
}

hr {
  width: 1825px;
  height: 2px;
  background: rgba(128, 134, 139, 1);
  margin-left: 129px;
  margin-top: 112px;
}

.nba-sec {
  display: flex;
  width: 1232px;
  height: 616px;
  border-radius: 28px;
  background: rgba(248, 249, 250, 1);
  margin-top: 240px;
  margin-left: 24px;
}

.nba-sec img {
  width: 616px;
  height: 616px;
}

.text_in_nba-sec h3 {
  color: rgba(60, 64, 67, 1);

  font-family: Roboto;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.5px;
 
}

.text-p {
  color: rgba(60, 64, 67, 1);

  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  margin-top: 26px;
}

.p_second {
  color: rgba(25, 103, 210);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 30px;
}

.text_in_nba-sec {
  padding-top: 194px;
  padding-left: 117px;
}
.nba-sec{
  border-radius: 30px;
}

.three-divs{
  display: flex;

}

.div-cards{
 
width: 395px;
height: 692px;
border-radius: 28px;
background: rgba(233, 227, 219, 1);
justify-content: center;
margin-left: 24px;
}
.name-product{
  color: rgba(60, 64, 67, 1);

font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.1px;
text-align: center;
margin-top: 20px;
}

.info-h2{
  color: rgba(60, 64, 67, 1);

font-family: Roboto;
font-size: 40px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0.5px;
text-align: center;
margin-top: 15px;
margin-bottom: 25px;
}
.button-in-tree-divs{
 
color: rgba(32, 33, 36, 1);
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
box-sizing: border-box;
border: 2px solid rgba(95, 99, 104, 1);
border-radius: 4px;
width: 123px;
height: 24px;
margin-left: 135px;
margin-bottom: 28px;
}
