* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info-text p {
  width: 1280px;
  height: 54px;
  background: rgba(25, 103, 210, 1);
  color: rgba(255, 255, 255, 1);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 17px;
}
.icon-google {
  width: 20.7px;
  height: 32.6px;
  transform: rotate(-0.53deg);
  margin-top: 7.53px;
}

header {
  display: flex;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.header-nav li {
  color: rgba(60, 64, 67, 1);
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  margin-left: 20px;
  margin-top: 21px;
}
.icon-nav {
  display: flex;
  margin-left: 26.87px;
}
.div-icons {
  margin-left: 384px;
}
.icons {
  margin-top: 16px;
  margin-right: 16px;
  width: 24px;
  height: 24px;
}


